<h1> chess </h1>

<a href="/game"> Join Game </a>

<% @game.each do |game|%>
	<% game.squares.each do |square| %>
		<%= square.contents %>
	<%end%>
	<br>
	<br>
<%end%>


<span class="glyphicon glyphicon-tower"></span>

<i class="fa fa-adn"></i>