<head>

</head>

<h1> Multiplayer Chess </h1>
<div class="container">
	<% 4.times do %>
		<%= render("partials/boardrow") %>
		<%= render("partials/boardrowEven") %>
	<% end %>
</div>
<a href="/">Leave Game </a>
		

