/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_tree .
 *= require_self
 */
 @font-face {
   font-family: 'Glyphicons Halflings';
   src: url(asset_path('glyphicons-halflings-regular.eot'));
   src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
 }

 a {
 	// color: white;
 	text-decoration: underline;
 }
 .email {
 	color: #FFFFCC;
 }
 .stats {
 	color: #FFFFCC;
 }
 .index-h1 {
 	color: #FFFFCC;
 }
 .main-description {
	font-size: 20px;
	color: #FFFFCC;
}
.index-h2 {
	color: #FFFFCC;
}
 .index-body {
 	background-color: black;
 	background-image: asset-url("sleek6.jpg");
 	
 	background-size: 100%;
    background-repeat: no-repeat;
 	display: compact;
 }

 .join_game-body {
	background-color: #FFF8DC;
}
.join_game-body {
	// text-shadow: 2px 2px #ff0000;
 	background-image: asset-url(wood2.jpg);
 	background-size: 100%;
 	left: 400px;
    background-repeat: no-repeat;
 	display: compact;
 	// color: white;
}

.space-right {
	position: relative;
	color: #CCFFFF;
	background-color: rgba(0, 0, 0, 0.3);
	top: -20px;
	left: -20px;
	height: 170px;
	// -webkit-filter: blur(20px);
 //    -moz-filter: blur(20px);
 //    -o-filter: blur(20px);
 //    -ms-filter: blur(20px);
 //    filter: blur(20px);
}
/*.display-user-count {
	position: relative;
	left: -800px;
	float: right;
}*/
 // .cont {
 // 	margin: auto;
 
 //    padding-left: 40%;
 // }

.flip-horizontal, .x-grid-cell-inner, .x-column-header-text, .x-panel-header-text {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.x-column-header-text, .x-panel-header-text {
    display: inline-block;
}


.turn {
	font-size: 35px;
}
 .board-number-display {
 	font-size: 25px;
 }

 .join-game-button {
 	font-size: 30px;
 	padding-left: 23px;
 }

.cont2 {
	position: relative;
	left: 60px;
}

 .join_game-body {


 }


.chat-input {
	height: 300px;
	border: 2px solid black;
}





.description {
	padding-left: 18px
}

#timer {
	font-size: 30px;

}

.timer-description {
	font-size: 16px;
}

.zoom-title {
	font-size: 50px;
}
.just-board{
	// box-shadow: 10px 10px 5px #888888;
}

.player-rating{
	color: #CCFFFF;
}

// .actually-just-board {
// 	box-shadow: 10px 10px 5px #888888;
// }

// .leave-game {
// 	font-size: 16px;
// }

.zoom-title {
	color: #CCFFFF;
}

.leave-game {
	color: black;
	font-size: 16px;
}

.chat-display{
	background-color: #FFFFFF;
	height: 200px;
	overflow: scroll;
}

.whole-chat {
	display: block;
}

.toggle-chat {
	text-decoration: underline;
	color: #FFFFFF;
}

.absolute-left {
	z-index: 1;
	background-color: rgba(0,0,0,0.3);
	left: -0px;
	height: 300px;
	width: 220px;
}

.space-left {
	z-index: 2000;
	color: #CCFFFF;
}

.leave-game-div {
	position: relative;
	top: -45px;
}
.leave-game {
	color: #FFFFFF;
}
.email-join-game {
	color: #FFFFFF;
}
.display-user-count {
	color: #FFFFFF;
}
.logout-join-game {
	color: #FFFFFF;
}
li {
	list-style-type: none;
}
.zoom-title {
	position: relative;
	left: -21px;
	top: -45px;
}
.whole-chat {
	position: relative;
	left: -50px;
	top: 0px;
	width: 270px;
}
.checkmate-button {
	background-color: rgba(255, 0, 0, 0.5);
	border: none;
	display: block;
}
.logout-button {
	background-color: rgba(0,80,255, 0.5);
}









