/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_tree .
 *= require_self
 */
 @font-face {
   font-family: 'Glyphicons Halflings';
   src: url(asset_path('glyphicons-halflings-regular.eot'));
   src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
 }
 .index-body {
 	background-color: #F0FFFF;
 }

 .join_game-body {
	background-color: #FFF8DC;
}
.join_game-body {
	margin: 0;
 	background-image: url(wood.jpg);
 	background-size: 100%;
    background-repeat: no-repeat;
 	display: compact;
 	font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.space-left {
	background-image: url(space.gif);
	color: #CCFFFF;
}
.space-right {
	background-image: url(space.gif);
	color: #CCFFFF;
	width: 300px;
}
/*.display-user-count {
	position: relative;
	left: -800px;
	float: right;
}*/
 // .cont {
 // 	margin: auto;
 
 //    padding-left: 40%;
 // }

.flip-horizontal, .x-grid-cell-inner, .x-column-header-text, .x-panel-header-text {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.x-column-header-text, .x-panel-header-text {
    display: inline-block;
}


.turn {
	font-size: 35px;
}
 .board-number-display {
 	font-size: 25px;
 }

 .join-game-button {
 	font-size: 30px;
 	padding-left: 23px;
 }

.cont2 {
	position: relative;
	left: 60px;
}

 .join_game-body {


 }


.chat-input {
	height: 300px;
	border: 2px solid black;
}

.main-description {
	font-size: 20px;
}



.description {
	padding-left: 18px
}

#timer {
	font-size: 30px;

}

.timer-description {
	font-size: 16px;
}

.zoom-title {
	font-size: 50px;
}

.just-board {
	box-shadow: 10px 10px 5px #888888;
}

// .leave-game {
// 	font-size: 16px;
// }

