// Place all the styles related to the squares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.row-odd-column-odd {
	width: 70px;
	height: 70px;
	background-color: #663300;
}

.row-odd-column-even {
	width: 70px;
	height: 70px;
	background-color: #FFFF99;
}

.row-even-column-odd {
	width: 70px;
	height: 70px;
	background-color: #FFFF99;
}

.row-even-column-even {
	width: 70px;
	height: 70px;
	background-color: #663300;
}
.column:hover {
 	background-image: url(highlight5.jpg);
 	
 
    background-repeat: no-repeat;
 	display: compact; /* make this whatever you want */
}
.clicked {
 	background-image: url(highlight2.jpg);
 	
 
    background-repeat: no-repeat;
 	display: compact; /* make this whatever you want */
}
// .row-even-column-odd:hover {
// background: blue; /* make this whatever you want */
// }
// .row-odd-column-even:hover {
// background: blue; /* make this whatever you want */
// }
// .row-odd-column-odd:hover {
// background: blue; /* make this whatever you want */
// }




.row-odd-column-odd-black {
	width: 70px;
	height: 70px;
	background-color: #FFFF99;
}

.row-odd-column-even-black {
	width: 70px;
	height: 70px;
	background-color: #663300;
}

.row-even-column-odd-black {
	width: 70px;
	height: 70px;
	background-color: #663300;
}

.row-even-column-even-black {
	width: 70px;
	height: 70px;
	background-color: #FFFF99;
}




.piece {

    color:#000;

    display:block;

    font-size:60px;

    height:80px;

    position:relative;

    text-decoration:none;

    text-shadow:0 1px #fff;

    width:80px;

}



// .column-even {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .column2 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .evencolumn2 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .column1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .column1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }



// .column1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .column2 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .evencolumn2 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .column1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .column1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }
