// Place all the styles related to the squares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row-odd-column-odd {
	width: 70px;
	height: 70px;
	background-color: #663300;
}

.row-odd-column-even {
	width: 70px;
	height: 70px;
	background-color: #FFFF99;
}

.row-even-column-odd {
	width: 70px;
	height: 70px;
	background-color: #FFFF99;
}

.row-even-column-even {
	width: 70px;
	height: 70px;
	background-color: #663300;
}


// .column-even {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .column2 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .evencolumn2 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .column1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .column1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }



// .column1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .column2 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .evencolumn2 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .column1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .column1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: blue;
// }

// .evencolumn1 {
// 	width: 60px;
// 	height: 60px;
// 	background-color: black;
// }
